# Environment variables
.env

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Distribution / packaging
*.egg-info/
dist/
build/

# Office / Temporary documents
*.docx
~$*
*.tmp

# Raw local document uploads
data/
